body {
  display: flex;
  justify-content: center;
  margin: 50px 30px;
  padding: 0px;
}

.bgColor {
  background-color: #ccc;
}

#root {
  z-index: 1;
  width: 1200px;
}

.bg {
  position: fixed;
  top: 0;
  width: 110%;
  height: 200px;
  z-index: 3;
  box-sizing: border-box;
}

.header {
  z-index: 4;
  position: sticky;
  top: 50px;
  width: 100%;
  height: 170px;
  border: 10px solid #333;
  border-radius: 20px;
  margin: 0px;
  background-image: url(https://images.squarespace-cdn.com/content/v1/59d40133017db2fd8a60b3fe/1663615955866-ME6B1A5EXGKPO3WY52YB/Screen+Shot+2022-09-19+at+3.32.12+PM.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.header .title {
  font-size: 80pt;
  padding: 10px;
  font-family: 'Dongle', sans-serif;
  color: #333;
  text-shadow: -2px 0px #ffffff, 0px 2px #ffffff, 2px 0px #ffffff, 0px -2px #FFFfff;
  text-align: center;
}

.body {
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  background-color: #CCC;
  border: 10px solid #333;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px 0px;
  box-sizing: border-box;
}

.title {
  font-size: 20pt;
  padding-bottom: 10px;
  text-align: left;
}

.content {
  font-size: 10pt;
  text-align: left;
}

.floating {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #b4b4b4;
  font-family: 'Stylish', sans-serif;
  color: #333;
  padding: 20px;
  border: 10px solid #333;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
  position: fixed;

}

#floatingPosition {
  top: 260px;
}

.floating .content {
  text-align: left;
  font-size: 15pt;
  color: #333;
  text-decoration: none;
}

.main {
  width: 700px;
  background-color: #b4b4b4;
  padding: 20px;
  border: 10px solid #333;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-right: auto;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.box {
  font-family: 'Stylish', sans-serif;
  color: #333;
  background-color: #ffffff;
  padding: 10px 20px;
  border: 10px solid #333;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px;
}

.box.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.box.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container img {
  display: block;
  width: 350px;
  height: auto;
  border: 10px solid #333;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px;
}

.reason {
  width: 200px;
  height: fit-content;
}

.ingredient {
  width: 300px;
  height: fit-content;
}

.ingredient .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: flex-start;
}

.table {
  width: 50%;
  height: auto;
  padding: 5px;
  text-align: center;
}

.head {
  font-weight: 600;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: #333;
}

.recipe {
  width: 30%;
  height: fit-content;
}

ol {
  padding: 0px 10px;
  margin: 0px;
}

li {
  font-size: 10pt;
}

.footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
  border: 10px solid #333;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
}

.copyright {
  font-family: 'Dongle', sans-serif;
  font-size: 40pt;
  color: #eee;
  margin: 10px;
  margin-right: auto;
}

#button {
  font-family: 'Stylish', sans-serif;
  font-size: 15pt;
  border: 5px solid #eee;
  background-color: #333;
  color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin: 0px 10px;
  width: fit-content;
  height: fit-content;
}

#button:hover {
  background-color: #eee;
  color: #333;
}