<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://nordcdn.net/ds/css/2.4.1/nord.min.css"
    integrity="sha384-7yCjjICdCmNLaOvslgtJXsmXDQehOXxb8YW+FQni9dmtkaOspP9zIDmijNI38BAq" crossorigin="anonymous" />
  <script type="module" src="https://nordcdn.net/ds/components/2.16.1/index.js"
    integrity="sha384-3VNQv4DTPzNiJU6FTC3hKnUTIRKsdV2gjGn349M6WUcFE2ZkrN6mHFVvdGxxC6nz"
    crossorigin="anonymous"></script>
  <style>
    ol li {
      font-size: 15pt;
      padding: 20px 0px;
    }
  </style>
</head>

<body>
  <h2>Nord Design System</h2>
  <h3>본 디자인 시스템은 노르웨이의 디지털 의학 기업인 Nord Health의 디자인 시스템이다. 탭이나 드롭다운류의 컴포넌트의 종류가 많은데 의사가 환자를 관리하는데 유용할 것으로 보인다. 전체적인 색 구성은
    블루톤과 화이트로 구성되어 있어 청량한 느낌을 주고 깔끔하다. 디자인과 더불어 타 디자인시스템은 npm을 통한 설치나 React를 요구하는데 간단히 CDN으로 불러올 수 있는 점과 컴포넌트의 종류가 다양한
    점이 마음에 들었다. </h3>

  <ol>
    <li>header</li>
    <nord-header>
      <h1 class="n-typescale-l">Dashboard</h1>
      <nord-button slot="end">Export</nord-button>
      <nord-button variant="primary" slot="end">
        <nord-icon slot="start" name="interface-add-small"></nord-icon>
        Create new
      </nord-button>
    </nord-header>

    <li>navigation</li>
    <nord-navigation style="max-inline-size: 250px">
      <nord-button slot="header" expand>
        <nord-avatar slot="start" name="Bath Clinic" variant="square">B</nord-avatar>
        Bath Clinic
        <nord-icon slot="end" class="n-margin-i-s" name="interface-dropdown-small"></nord-icon>
      </nord-button>
      <nord-nav-group heading="Workspace">
        <nord-nav-item active icon="navigation-dashboard">Dashboard</nord-nav-item>
        <nord-nav-item icon="navigation-payments">Payments</nord-nav-item>
        <nord-nav-item icon="navigation-reports">Reports</nord-nav-item>
        <nord-nav-item icon="navigation-settings">Settings</nord-nav-item>
      </nord-nav-group>
    </nord-navigation>

    <li>avatar</li>
    <nord-stack align-items="center" direction="horizontal">
      <nord-avatar name="Laura Williams" size="xxxl"></nord-avatar>
    </nord-stack>

    <li>button</li>
    <nord-button variant="primary">Hello Nordie</nord-button>

    <li>badge</li>
    <nord-stack direction="horizontal" gap="s" wrap>
      <nord-badge type="success">Success</nord-badge>
    </nord-stack>

    <li>banner</li>
    <nord-stack>
      <nord-banner variant="info">
        We’ve updated your plan, make sure you know how these changes affect it.
        <a href="#">Learn more</a>.
      </nord-banner>
    </nord-stack>

    <li>dropdown</li>
    <nord-stack direction="horizontal" justify-content="flex-start">
      <nord-dropdown size="s">
        <nord-button slot="toggle">Menu</nord-button>
        <nord-dropdown-item href="#">View profile</nord-dropdown-item>
        <nord-dropdown-item>Settings</nord-dropdown-item>
        <nord-dropdown-item>Show keyboard shortcuts</nord-dropdown-item>
        <nord-dropdown-item>Help & Support</nord-dropdown-item>
        <nord-dropdown-item>API</nord-dropdown-item>
        <nord-dropdown-item>Sign out</nord-dropdown-item>
      </nord-dropdown>
    </nord-stack>

    <li>calander</li>
    <nord-calendar></nord-calendar>

    <li>datepicker</li>
    <nord-date-picker label="Label" value="2021-01-13"></nord-date-picker>

    <li>input</li>
    <nord-input label="Label" value="Value"></nord-input>

    <li>textarea</li>
    <nord-textarea label="Label" value="Value"></nord-textarea>

    <li>checkbox</li>
    <nord-checkbox label="Label" value="Value"></nord-checkbox>
    <nord-checkbox label="Label" value="Value"></nord-checkbox>

    <li>radio</li>
    <nord-fieldset label="Radios">
      <nord-stack direction="vertical">
        <nord-radio label="Option 1" name="test" value="1"></nord-radio>
        <nord-radio label="Option 2" name="test" value="2"></nord-radio>
      </nord-stack>
    </nord-fieldset>

    <li>toggle</li>
    <nord-stack>
      <nord-toggle checked label="Checked toggle" value="Value"></nord-toggle>
      <nord-toggle label="Unchecked" value="Value"></nord-toggle>
    </nord-stack>

    <li>range</li>
    <nord-range label="Label" value="7" min="0" max="10"></nord-range>

    <li>tab</li>
    <nord-tab-group label="Tabs">
      <nord-tab slot="tab">Profile</nord-tab>
      <nord-tab slot="tab" selected>Settings</nord-tab>
    </nord-tab-group>

    <li>spinner</li>
    <nord-spinner size="xl"></nord-spinner>

    <li>progressbar</li>
    <nord-progress-bar value="40"></nord-progress-bar>

    <li>skeleton</li>
    <div class="skeleton-overview" aria-busy="true">
      <header>
        <nord-skeleton></nord-skeleton>
        <nord-skeleton></nord-skeleton>
      </header>
      <nord-skeleton></nord-skeleton>
      <nord-skeleton></nord-skeleton>
      <nord-skeleton></nord-skeleton>
      <nord-visually-hidden>Loading</nord-visually-hidden>
    </div>

    <style>
      .skeleton-overview header {
        display: flex;
        align-items: center;
        margin-block-end: var(--n-space-s);
      }

      .skeleton-overview header nord-skeleton:last-child {
        flex: 0 0 auto;
        inline-size: 30%;
      }

      .skeleton-overview nord-skeleton {
        margin-bottom: var(--n-space-m);
      }

      .skeleton-overview nord-skeleton:nth-child(1) {
        inline-size: 3rem;
        block-size: 3rem;
        margin-inline-end: var(--n-space-m);
      }

      .skeleton-overview nord-skeleton:nth-child(3) {
        inline-size: 90%;
      }

      .skeleton-overview nord-skeleton:nth-child(4) {
        inline-size: 80%;
      }
    </style>

    <li>modal</li>
    <nord-button variant="primary" id="openButton">Open modal</nord-button>

    <nord-modal id="modal" size="s" open aria-labelledby="title">
      <h2 slot="header" id="title">Modal title</h2>
      <p class="n-reset">Modal body text goes here.</p>

      <nord-button slot="footer" expand id="cancelButton">Cancel</nord-button>
      <nord-button slot="footer" expand id="confirmButton" variant="primary" autofocus>Save changes</nord-button>
    </nord-modal>

    <script>
      openButton.addEventListener("click", e => modal.showModal())
      cancelButton.addEventListener("click", () => modal.close())
      confirmButton.addEventListener("click", () => modal.close())
    </script>
  </ol>


</body>

</html>